/* .shorts-container {
  height: 100vh;
  width: 100%;
  background: black;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.shorts-container::-webkit-scrollbar {
  display: none;
}

.short-card {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.short-video {
  height: 90vh;
  width: 360px;
  border-radius: 16px;
}

.short-title {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  font-weight: 500;
}


.short-actions {
  position: absolute;
  right: calc(50% - 210px); 
  bottom: 140px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: white;
  font-size: 22px;
  text-align: center;
}

.action {
  cursor: pointer;
}

.action span {
  display: block;
  font-size: 12px;
  margin-top: 4px;
} 
 */
.shorts-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: black;
}

.short-card {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.short-card iframe {
  width: 360px;
  height: 640px;
  border-radius: 12px;
}

.short-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.short-actions {
  margin-top: 5px;
  font-size: 14px;
}
