.shorts-class{
  background-color: black;
}
.shorts-class.dark{
  background-color: black;
  color: white;
}
.shorts-class.light{
  background-color: white;
  color: black;
}
.shorts-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: black;
}
.shorts-class.light .shorts-container{
  background-color: white;
}
.shorts-container h2{
  color: white;
  text-align: center;
}
.shorts-class.light .shorts-container h2{
  color: black;
} 
.short-card {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.short-card iframe {
  width: 360px;
  height: 640px;
  border-radius: 12px;
}

.short-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.shorts-class.light .short-info{
  color: black;
}
.short-actions {
  margin-top: 5px;
  font-size: 14px;
}
