.watch-page {
  padding: 20px;
  color: white;
}

.video-player iframe {
  width: 100%;
  height: 480px;
  border-radius: 12px;
}

.watch-page h2 {
  margin-top: 15px;
  font-size: 20px;
}

.watch-page p {
  color: #aaa;
}
