.sidebar {
    width: 200px;
    background-color: #0f0f0f;
    height: calc(100vh - 56px);
    position: sticky;
    top: 56px;
    color: white;
    padding-top: 12px;
    border-right: 1px solid #272727; /* Halka divider mate */
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0 12px 4px 12px;
    border-radius: 10px;
  }
  
  .sidebar-item:hover {
    background-color: #272727;
  }
  
  .sidebar-item.active {
    background-color: #272727;
    font-weight: 500;
  }
  
  .s-icon {
    margin-right: 24px;
    font-size: 22px;
  }
  
  .sidebar-title {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #272727;
    margin: 12px 0;
  }