.video-card {
  cursor: pointer;
  padding: 10px;
  transition: transform 0.25s ease;
}

.video-card:hover {
  background-color: #2b2a2a;
  border-radius: 20px;
}

/* Thumbnail */
.thumbnail-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
}

.thumbnail-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Duration badge */
.duration {
  position: absolute;
  bottom: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
}

/* Admin overlay */
.admin-overlay {
  position: absolute;
  inset: 0px;
  background: rgba(0,0,0,0.6);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.thumbnail-wrapper:hover .admin-overlay {
  opacity: 1;
}

.admin-overlay button {
  background: red;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* Info */
.video-info {
  padding-top: 10px;
}

.video-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;

  display: -webkit-box;
  -webkit-line-clamp: 2;     /* ✅ max 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.video-channel {
  font-size: 13px;
  color: #aaa;
  margin-top: 4px;

  display: -webkit-box;
  -webkit-line-clamp: 1;     /* ✅ max 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
