:root {
  --hover-bg: #f2f2f2;
}

body.dark {
  --hover-bg: #2b2a2a;
}

.video-card {
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
}

.video-card:hover {
  background-color: var(--hover-bg);
}

.thumbnail-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
}

.thumbnail-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.duration {
  position: absolute;
  bottom: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
}

.video-info {
  padding-top: 10px;
}

.video-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--text-color); /* Theme variable */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.video-channel {
  font-size: 13px;
  color: var(--secondary-text); /* Theme variable */
  margin-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Admin Styles */
.admin-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  opacity: 0;

}

.thumbnail-wrapper:hover .admin-overlay {
  opacity: 1;
}

.admin-overlay button {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.edit-btn { background: #3ea6ff; color: white; }
.delete-btn { background: #ff4e4e; color: white; }