* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  background: #ffffff;
}

/* ===== Left Image ===== */
.login-image {
  flex: 1.2;
  background: #ec0202;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img {
  width: 85%;
  height: auto;
  border-radius: 6px;
}

/* ===== Right Form ===== */
.login-form {
  flex: 1;
  padding: 80px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}

.login-form p {
  color: #ec0202;
  font-size: 16px;
  margin-bottom: 35px;
}

/* ===== Inputs ===== */
.input-box {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-size: 15px;
  outline: none;
}

.input-box:focus {
  border-color: #ec0202;
  box-shadow: 0 0 0 1px rgba(47, 111, 126, 0.3);
}

/* ===== Button ===== */
.login-btn {
  width: 100%;
  padding: 14px;
  background: #ec0202;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background:  #f70202;
}

/* ===== Responsive ===== */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-image {
    display: none;
  }

  .login-form {
    padding: 50px 25px;
  }
}
